.gradle
build/

# IntelliJ
.idea
*.iml

#Netbeans
/.nb-gradle/

#Eclipse
.metadata/

### STS and Eclipse ###

.classpath
.factorypath
.project
.settings
.springBeans
.vscode/

dist/
bin/
test-bin/

out/

*.audit
*.log
/logs/
/persistent/
.DS_Store

